p {
  font-family: "Georgia", serif;
  font-size: 1em;
  line-height: normal;
}

h1 {
  color: red
  font-family: "Times New Roman", serif;
  font-size: 1.4em;
  line-height: 2.5;
}

h3 {
  color: black
  line-height: 1.5;
  font-size: 0.8em;
  }

h2 {
  color: blue
  font-size: 1em;
}

h4 {
  font-style: oblique;
  font-size: 1.2em;
  color: red;
  line-height: 3em;
}

ul {
  line-height: 2.5;
  margin: 1em;
  color: blue;
}
